Django==4.2.16
djangorestframework
django-cors-headers
django-filter
drf-spectacular
psycopg2-binary
dj-database-url==2.1.0
gunicorn
whitenoise
sentence-transformers
scikit-learn
numpy
drf-spectacular-sidecar

